<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Data Mahasiswa</title>
        
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <h1>Form Mahasiswa</h1>
            <div class="row">
                <div class="col-sm-8">
                    <form class="form-horizontal" th:object="${mahasiswa}" th:action="@{/mahasiswa/create}" method="post">
                        <input type="hidden" th:field="*{id}"/>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nama:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{nama}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nim:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{nim}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Jurusan:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" th:field="*{jurusan}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Bootstrap core JavaScript -->
        <script th:src="@{/js/jquery-2.2.2.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </body>
</html>
