<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Data Mahasiswa</title>
        
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" />
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <h1>Data Mahasiswa</h1>
            <div th:if="${not #lists.isEmpty(mahasiswa)}" >
                <table class="table table-striped">
                    <tr>
                        <th>Nama</th>
                        <th>Nim</th>
                        <th>Jurusan</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="mahasiswas : ${mahasiswa}">
                        <td th:text="${mahasiswas.nama}"></td>
                        <td th:text="${mahasiswas.jurusan}"></td>
                        <td th:text="${mahasiswas.nim}"></td>
                        <td>
                            <a th:href="${'/mahasiswa/edit/'+mahasiswas.id}"><span class="glyphicon glyphicon-edit"></span></a>
                            <a th:href="${'/mahasiswa/hapus/'+mahasiswas.id}"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                </table>
            </div>
            
            <div><a class="btn btn-default" href="/mahasiswa/create">Add New</a></div>
        </div>
        
        <!-- Bootstrap core JavaScript -->
        <script th:src="@{js/jquery-2.2.2.min.js}"></script>
        <script th:src="@{js/bootstrap.min.js}"></script>
    </body>
</html>
